[tool.poetry]
name = "promptlayer"
version = "0.4.0"
description = "PromptLayer is a platform for prompt engineering and tracks your LLM requests."
authors = ["Magniv <hello@magniv.io>"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
requests = "^2.31.0"

[tool.poetry.group.dev.dependencies]
openai = "^0.27.8"
langchain = "^0.0.260"
behave = "^1.2.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
