name: Integration Tests

on:
  push:
    branches: [$default-branch]

  workflow_dispatch:

env:
  PROMPTLAYER_API_KEY: ${{ secrets.PROMPTLAYER_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install behave langchain
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run Integration Tests
        run: |
          behave
